body {
    background-color: #eaf6f6;
}

hr {
    background-color: #ffffff;
    border-style: none;
    border-top-style: dotted;
    border-color: #808080;
    border-width: 4px;
    width: 8%;
}

img {
    height: 250px;
}

h1 {
    color: #66BFBF;
    font-style: oblique;
}

h3 {
    color: #66BFBF;
}